* {
  scroll-behavior: smooth;
}

.light {
  background-color: whitesmoke;
  color: #333;

  blockquote, .ToC {
    color: #2f5d62;
    border-color: #2f5d62;
  }
}

.dark {
  background-color: #222831;
  color: #ddd;

  blockquote, .ToC {
    color: #00D7B8;
    border-color: #00D7B8;
  }
}

.container {
  width: 90%;
  margin: auto;
}

ul {
  list-style-type: none;
  margin-left: 0;
  padding: 0;
}

h1 {
  margin-bottom: 2rem;
  margin-top: 1rem;
}

h2, h3 {
  margin: 1rem 0;
}

@media screen and (min-width: 600px) {
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }  
}