.home-page {

  .page-image {
    margin-bottom: 1rem;
  }
  
  .page-description {
    font-size: .9rem;
  }
  
  .blog-posts {
    margin-top: 1.5rem;
  
    .posts .post {
      margin-bottom: 2rem;
  
      .post-details {
        display: flex;
        gap: 3rem;
        justify-content: flex-start;
        font: {
          style: italic;
          size: .8rem;
          weight: bold;
        }
      }
    }
  }
}

@media screen and (min-width: 600px) {
  .home-page {
    width: 80%;
  }
}
