.page-image {
  margin: 0 auto 1rem;
}

.page-description {
  font-size: .9rem;
}

.blog-posts {
  margin-top: 1.5rem;

  .posts .post {
    margin-bottom: 2rem;

    .post-details {
      display: flex;
      gap: 3rem;
      justify-content: flex-start;
      color: #555;
      font: {
        style: italic;
        size: .8rem;
        weight: bold;
      }
    }
  }
}