.layout {
  min-height: 100vh;

  a {
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
  }

  .content {
    position: relative;

    .sidebar {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      overflow-y: scroll;
      font-size: .8rem;

      .flex {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        img {
          width: 10rem;
          margin: 1rem auto 2rem;
          border-radius: 50%;
          border: thin solid black;
        }

        .about {
          text-align: justify;
        }

        .contacts {
          display: flex;
          gap: 1rem;
          justify-content: center;
          align-items: baseline;
          margin-bottom: 1.5rem;
        }

        .filters {
          flex-grow: 1;
          gap: .5rem;

          .tags {
            display: flex;
            flex-wrap: wrap;
            gap: .5rem;

            .tag {
              padding: .2rem;
              background-color: black;
              color: #fefefe;
            }
          }
        }

        footer {
          a {
            font-size: 1.1em;
            font-style: italic;
            font-weight: bold;
          }
        }
      }

      &-closed {
        left: -100%;
      }
    }
  }
}

@media screen and (min-width: 600px) {
  .layout {

    .content {
      display: flex;
      gap: 1rem;
      min-height: 100%;


      .sidebar {
        width: 25%;
        max-width: 310px;
        border-right: 2px solid #333;
      }

      main {
        margin-left: 25%;
        width: 50%;
      }
    }
  }  
}