@import 'config';

.layout {
  min-height: 100vh;
  transition: all .6s ease;

  a {
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
  }

  .content {
    position: relative;
    top: 3rem;
    display: flex;
    flex-direction: column;

    .sidebar {
      display: none;
      visibility: hidden;

      .flex {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 1rem;
        height: 100%;

        .profile {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          img {
            visibility: hidden;
            width: 7rem;
            margin: 0 auto 2rem;
          }
        }

        .about {
          text-align: justify;
        }

        .contacts {
          display: flex;
          gap: .5rem;
          align-items: baseline;
          margin-bottom: 1.5rem;

          svg {
            width: 1rem;
            fill: #00D7B8;
          }
        }

        .filters {
          flex-grow: 1;
          gap: .5rem;

          .tags {
            display: flex;
            flex-wrap: wrap;
            gap: .5rem;

            .tag {
              padding: .2rem;
              background-color: #2f5d62;
              color: #fefefe;
            }
          }
        }

        footer {
          text-align: center;

          a {
            font-size: 1.1em;
            font-style: italic;
            font-weight: bold;
          }
        }
      }
    }

    main .theme-toggle {
      position: fixed;
      top: 1rem;
      right: 1rem;
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
  }
}

@media screen and (min-width: 600px) {
  .layout {

    .content {
      top: 0;
      flex-direction: row;
      align-items: flex-start;
      gap: 1rem;
      min-height: 100vh;


      .sidebar {
        position: fixed;
        left: 0;
        width: 25%;
        max-width: 310px;
        background-color: unset;
        display: initial;
        visibility: visible;
        z-index: 10;
        overflow-y: scroll;
        font-size: .8rem;
      }

      main {
        margin-left: 25%;
        width: 70%;
      }
    }
  }  
}